html, body { margin: 0; padding: 0; background: #bbb; font-size: 100%; overflow: hidden; font: 14px/1.4 arial, helvetica, sans-serif; }
h4 { padding: 0; margin: 10px 0; }

.nav { float: left; margin: 20px 10px; }

.stats { border-collapse: collapse; margin: 10px; font-size: 12px; }
.stats td { border: 1px solid #444; padding: 5px 15px; }
.stats .lbl { text-align: right; font-weight: bold; }
.stats .val { min-width: 50px; }





.world {
	width: 10em;
	height: 10em;
	font-size: 16px;
	position: relative;
	float: left;
	margin: 30px;
	border: 1px solid #000;
	box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.4), 0 0 0 10px #222, 0 1px 0 10px rgba(255, 255, 255, 0.7);
	background-color: #269;
	background-image: linear-gradient(white 0, transparent 1px), linear-gradient(90deg, white 0, transparent 1px);
	background-size: 1.5em 1.5em;
}

.dot {
	width: 1.5em;
	height: 1.5em;
	position: absolute;
	font: 1em/1 arial, sans-serif;
	background: orange;
	border-radius: 50%;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: default;

	/*transition: left .2s ease-out, top .2s ease-out;*/
	-webkit-transition: -webkit-transform .2s ease-out; transition: transform .2s ease-out;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.dot:after {
	content: attr(title);
	font-size: .5em;
	line-height: 1.8em;
	text-align: center;
	top: 1px; right: 1px; bottom: 1px; left: 1px;
	position: absolute;
}


.dot-yellow { background: yellow; }
.dot-orange { background: orange; }
.dot-white { background: white; }
.dot-chocolate { background: chocolate;  }
.dot-coral { background: coral;  }
.dot-cyan { background: cyan;  }
.dot-maroon { background: maroon;  }